raw
*.sw?
.DS_Store
node_modules
bower_components
.idea/*
npm-debug.log
.git
log/*
log2/*
#pm2.json
#conf
#conf/*
conf-production/*
#public/jslib/*
#public/fonts/*
public/hispumpapp/*
#public/css/*
#public/images/*

