<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="LinkDesk Application"/>
    <meta name="viewport" content="width=device-width"/>
    <base id="options" data-api-root="/api" data-assets-location="http://127.0.0.1:5000/hispumpapp" data-navigation="<%= navigation %>"/>
    <title>Rivamed统一服务平台</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/hispumpapp/styles/main.css"/>
    <script src="http://127.0.0.1:5000/jslib/modernizr/modernizr.min.js"></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="body_wrap">
</div>
<footer id="footer">
    <div class="container">
        <hr>
        <p>Powered by <a href="http://www.hispump.com">hispump.com</a>
            |
            <a href="mailto:cailong1028@gmail.com" data-bypass>反馈问题</a></p>
    </div>
</footer>
<script src="http://127.0.0.1:5000/jslib/requirejs/require.min.js"
        data-main="http://127.0.0.1:5000/hispumpapp/scripts/launcher.js"></script>
</body>
</html>